/* dialogBox.css */
.dialog-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.message {
  margin-right: 10px; /* Add some spacing between the message and the input field. */
}

.input-field {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-group {
  display: flex;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

/* Optional: Style the buttons to look like icons. */
.icon-button span {
  font-size: 20px;
}

.autocapture-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}
