@import '../styles.scss';

.item-image{
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.empty-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: var(--border);

}
.ant-card-actions{
    padding: 1rem !important;
}